@font-face {
    font-family: myFont;
    src: url(../fonts/BentonSansComp-Medium.otf);
}
@font-face {
    font-family: BentonSans;
    src: url(../fonts/BentonSans-Light.otf);
}
@font-face {
    font-family: slider;
    src: url(../fonts/BentonSans-ExtraLight.otf);
}
@font-face {
    font-family: headline;
    src: url(../fonts/BentonSansComp-Bold.otf);
}
@font-face {
    font-family: mini-headline;
    src: url(../fonts/BentonSansComp-Book.otf);
}
body {
    /*font-family:  myFont;*/
}
h1 {
    font-family: myFont;
    color: black;
}

/*===============================================================================================*/
        /*----------------- landing-page-css*/
/*===============================================================================================*/
.header{
    margin: 0 !important;
    padding: 0 !important;
    background: url(../images/back.jpg);
    background-size: cover;
    min-height: 800px;
    
}
.header_logo{
    margin: 40px 80px;
}
.border_line{
    border: 1px solid grey;
    margin-bottom: 5px;
}
.text_slider {
    margin: 185px 85px;
    color: white;
    font-family: slider;
    font-size: 16px;    
}
.text_slider h2{
    font-family: myFont;
    font-weight: normal;
}
.move_indicator {
    margin: -42px -320px;
}
.move_indicator li {
     width: 15px;
    height: 15px;
    margin: 2px;
}
.move_indicator .active {
    width: 17px;
    height: 17px;;
}
.slide_button {
    margin-bottom: 15px;
}

/*====================== SEARCH-BAR-PART ====================*/
.search_bar{
    margin: 50px 0px;
}
h2{
    font-family: myFont;
}
h2.search_text {
    border-bottom: 1px solid grey;
}
.search_bar_form {
    padding: 32px 0px;
    font-family: myFont;
        margin-left: 20px;
}
#search_input_field{
    margin-right: 15px !important;
    border-color: #000 !important;
    height: 40px !important;
}
.search_submisson_button{
    padding: 8px 12px !important;
    font-size: 16px;
    border-color: #000;
}
/*================== TEXT-GALLERY ================*/
.text_gallery{
    font-family: slider;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}
/*==================== SIGN-UP-PART ==================*/
.sign_up{
   
}
.signup_border{
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
    padding: 70px 0px;
    overflow: hidden;
    margin-bottom: 60px;
}
button#signup-button {
    font-family: myFont;
    width: 220px;
    height: 60px;
    font-size: 30px;
}
/*===============================================================================================*/
        /*----------------- product-page-css*/
/*===============================================================================================*/


/*============ header ===========*/
.menubar{
    margin: 50px 0px 50px 0px;

}
/*------end-header------*/

/*=========== image-part-one ============*/
 
.text > h1{
    font-family: slider;
}
.img_one_text{
    font-family: myFont;
}
.img_one_text::after {
    content: "";
    top: 55px;
    width: 240px;
    height: 1px;
    background: red;
    position: absolute;
    left: 16px;
}
.img_one_text::before {
    content: "";
    top: 55px;
    width: 170px;
    height: 1px;
    background: grey;
    position: absolute;
    left: 255px;
}
.text-head {
    font-size: 16px;
}
.text-span {
    font-size: 18px;
    font-family: slider;
}
.img_one_text_bottom {
    padding-top: 100px;
    color: #E0E0E0;
}
.text-span-bottom {
    font-size: 20px;
    font-family: BentonSans;
    color: black;
}
.button_text{
    font-family: myFont;
    line-height: 35px;
}
.text-space {
    margin-left: 20px;
    color: grey;
}
.left_side_text {
    font-size: 16px;
    letter-spacing: 1px;
    font-family: BentonSans;
}
.border-text {
    border-top: 2px solid grey;
    margin: 20px 0px;
}
.img_one_bottom_text {
    margin-top: 50px;
}
/*=============== image-part-two ================*/
.image_part_two{
    margin: 50px 0px;
}
.text_image_two{
    font-family: slider;
    margin: 180px 25px;
    /*padding: 209px 60px;*/
}
/*----- end-image-part-two -------*/
/*=============== image-part-three ================*/
.image_part_three{
    margin: 100px 0px;
}
.image_three{
    background: url(../images/fashion2.jpg);
    min-height: 620px;
    min-width: 720px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}
.no_right_padding{
    padding-right: 0 !important;
    margin-right: 0 !important;
}
.text_image_three{
    font-family: slider;
    padding: 209px 60px;
}

/*============== image-part-four ============*/
.image_four{
    /*margin:70px 0px;*/
}
.image_part_four{
    background: url(../images/s4.jpg);
    min-height: 450px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.bottom_text{
    padding: 40px 0px;
}
/*=========== image-part-five =============*/

.image_part_five{
     margin-top: 80px;
}
.img_five_text{
    font-family: myFont;
}
.img_five_text::after {
    content: "";
    top: 188px;
    width: 240px;
    height: 1px;
    background: red;
    position: absolute;
    left: 16px;
}
.img_five_text::before {
    content: "";
    top: 188px;
    width: 158px;
    height: 1px;
    background: grey;
    position: absolute;
    left: 255px;
}
.text_five_head {
    margin: 45px 0px;
    overflow: hidden;
}
.image_four_text_margin_bottom {
    margin-bottom: 20px;
}
.img_five_text_bottom {
    padding-top: 100px;
    color: #E0E0E0;
}
.part_five_bottom_text{
    margin-top: 8px;
}
/*=========== image-part-six ==============*/

.image_part_six {
    margin: 150px 0px;
    padding-left: 0 !important;
}
.no_padding {
    padding-left: 0 !important;
}
.small_font{
    font-size: 14px;
}
.part_six_text {
    font-family: slider;
    font-weight: bold;
}
/*============ emage-slider ===========*/
.slider_text{
    font-family: myFont;
    margin-bottom: 40px;
}
#owl-demo .item {
    margin: 0px;
}
#owl-demo .item img {
    display: block;
    width: 90%;
    height: auto;
}
.image_slider {
    margin-bottom: 100px;
}
.slider-text {
    font-family: slider;
    font-size: 13px;
    font-weight: normal;
    margin-top: 25px;
    color: black;
}
.font_awesome_color {
    color: orange;
}
.slider_left_text {
    margin-left: -15px;
}
#image_slider_border {
    border-bottom: 1px solid black;
}
.slider_bottom_padding {
    margin-bottom: 50px;
}
/*================= footer-part =====================*/

.footer {
    padding-bottom: 20px;
    font-family: myFont;
}
.footer_part {
    /*font-family: mini-headline;*/
    
    font-size: 14px;
}
.text_large {
    font-size: 30px;
    font-family: myFont;
}
.text_mini {
    font-size: 17px;
    font-family: mini-headline;
    letter-spacing: 1px;
}
#input_field {
    /*padding: 30px 80px;*/
    margin-right: 15px !important;
    border-color: #000 !important;
    height: 55px !important;
}
.submisson_button {
    padding: 15px 12px !important;
    font-size: 16px;
    border-color: #000;
}
.footer_bottom_part {
    margin: 50px 0px;
}
.footer_bottom_left{
    margin-left: -58px;
}
.about {
    text-decoration: none;
}
.about ul {
    list-style-type: none;
}
ul li {
    list-style: none;

}
a {
    text-decoration: none;
    font-size: 17px;
    color: black;
    font-family: slider;
}
.footer_logo{
    padding: 40px 0px;
}